<div class="container">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>name</th>
        <th>prov</th>
        <th>idnum</th>
        <th>mr</th>
        <th>insurance</th>
        <th>address</th>
        <th>city</th>
        <th>st</th>
        <th>phone</th>
        <th>dob</th>
        <th>admin</th>
        <th>dc</th>
      </tr>
        <tr>
          <td>{{modal.patient.name}}</td>
          <td>{{modal.patient.prov}}</td>
          <td>{{modal.patient.idnum}}</td>
          <td>{{modal.patient.mr}}</td>
          <td>{{modal.patient.insurance}}</td>
          <td>{{modal.patient.address}}</td>
          <td>{{modal.patient.city}}</td>
          <td>{{modal.patient.st}}</td>
          <td>{{modal.patient.phone}}</td>
          <td>{{modal.patient.dob}}</td>
          <td>{{modal.patient.admin}}</td>
          <td>{{modal.patient.dc}}</td>
        </tr>
    </table>
  </div>
</div>
